<div class="group relative w-64 h-48 rounded-2xl">
  <div
    class="absolute -z-10 w-full h-full rounded-2xl group-hover:bg-blue-light duration-100"
  ></div>
  <img
    src="{{ imgUrl }}"
    class="w-full h-full rounded-2xl object-cover group-hover:translate-x-2 group-hover:-translate-y-2 duration-100"
  />
  <div
    class="absolute left-6 bottom-6 leading-none font-semibold text-[32px] text-white group-hover:translate-x-2 group-hover:-translate-y-2 duration-100"
  >
    {{ genre }}
  </div>
</div>
