<table class="w-full table-fixed border-separate border-spacing-y-4">
  <thead>
    <tr class="text-left text-blue-light font-semibold text-xl">
      <th class="w-20"></th>
      <th class="pl-6">Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Time</th>
      <th class="w-8 h-8"></th>
    </tr>
  </thead>
  <tbody *ngFor="let song of songs">
    <tr class="h-20 text-white font-medium text-2xl">
      <td class="w-20 h-full bg-blue rounded-[10px]"></td>
      <td class="pl-6">{{ song.title }}</td>
      <td>{{ song.artist }}</td>
      <td>{{ song.album }}</td>
      <td>{{ song.duration }}</td>
      <td><img src="assets/Icons/Heart.svg" width="32px" height="32px" /></td>
    </tr>
  </tbody>
</table>
