<app-song-active></app-song-active>

<div class="hide-scrollbar h-full w-screen bg-blue-dark">
  <div class="flex justify-between p-4 pt-7">
    <img src="assets/Icons-geo/MIXUP-logo.svg" alt="logo" />
    <img src="assets/images/profile.jpg" class="h-10 w-10 rounded-full object-cover object-center" />
  </div>

  <!-- Mixes for you div -->

  <div>
    <div class="grid w-auto grid-cols-2 p-4 pb-3">
      <div><p class="text-[20px] font-medium text-white">Mixes for you</p></div>

      <div class="flex items-center justify-end">
        <p class="view-all-text flex justify-center">View all</p>
        <img class="w-[20px]" src="assets/Icons-geo/arrow-right-2.svg" alt="" />
      </div>
    </div>

    <div class="hide-scrollbar flex w-full overflow-x-auto pl-2 pr-4">
      <app-phone-card
        class="cursor-pointer"
        *ngFor="let playlist of savedPlaylists"
        [playlistName]="playlist.name"
        [tracks]="playlist.noTracks"
        [imgUrl]="'assets/images/playlists/' + playlist.image"
      ></app-phone-card>
    </div>
  </div>

  <!-- New Tracks div -->

  <div>
    <div class="grid w-auto grid-cols-2 p-4 pb-2">
      <div>
        <p class="w-[220px] text-[20px] font-medium text-white">New Tracks</p>
      </div>

      <div class="flex items-center justify-end">
        <p class="view-all-text">View all</p>
        <img class="w-[20px]" src="assets/Icons-geo/arrow-right-2.svg" alt="" />
      </div>
    </div>

    <div class="hide-scrollbar">
      <app-new-tracks
        song="The Drummer"
        genre="Alternative"
        artist="Red Hot Chili Peppers"
        [imgUrl]="'assets/images/albums/celestial.png'"
      ></app-new-tracks>
      <app-new-tracks
        song="Celestial"
        genre="Pop"
        artist="Ed Sheeran"
        [imgUrl]="'assets/images/albums/the_drummer.jpg'"
      ></app-new-tracks>
      <app-new-tracks
        song="I'm Good (Blue)"
        genre="EDM"
        artist="Bebe Rexha, David Guetta"
        [imgUrl]="'assets/images/albums/im_good.jpg'"
      ></app-new-tracks>
    </div>
  </div>

  <!-- Recently Listened (may want to change) -->

  <div>
    <div class="grid w-auto grid-cols-2 p-4 pb-3">
      <div>
        <p class="w-[220px] text-[20px] font-medium text-white">Recently Listened</p>
      </div>

      <div class="flex items-center justify-end">
        <p class="view-all-text">View all</p>
        <img class="w-[20px]" src="assets/Icons-geo/arrow-right-2.svg" alt="" />
      </div>
    </div>

    <div class="hide-scrollbar flex w-full overflow-x-auto pl-2 pr-5 pb-[76px]">
      <app-phone-card
        *ngFor="let playlist of savedPlaylists"
        [playlistName]="playlist.name"
        [tracks]="playlist.noTracks"
        [imgUrl]="'assets/images/playlists/' + playlist.image"
      ></app-phone-card>
    </div>
  </div>
  <!-- if song is playing add padding to bottom -->
  <div *ngIf="songPlaying._id" class="h-[60px]"></div>
</div>
