<app-ph-navbar [page]="navState"></app-ph-navbar>
<!-- //// -->
<div class="w-screen h-full hide-scrollbar bg-blue-dark">
  <div class="grid grid-cols-2 p-4 pt-7">
    <img src="assets/Icons-geo/MIXUP-logo.svg" alt="logo" />
    <div class="flex justify-end">
      <img
        src="assets/Icons-geo/profile-pic.svg"
        class=""
        alt="profile photo"
      />
    </div>
  </div>

  <!-- Mixes for you div -->

  <div>
    <div class="grid grid-cols-2 p-4 pb-3 w-auto">
      <div><p class="font-medium text-white text-[20px]">Mixes for you</p></div>

      <div class="flex justify-end items-center">
        <p class="view-all-text flex justify-center">View all</p>
        <img src="assets/Icons-geo/arrow-right-2.svg" alt="" />
      </div>
    </div>

    <div class="w-full pl-2 pr-4 overflow-x-auto flex hide-scrollbar">
      <app-phone-card
        class="cursor-pointer"
        *ngFor="let playlist of savedPlaylists"
        [playlistName]="playlist.name"
        [tracks]="playlist.noTracks"
        [imgUrl]="'assets/images/playlists/' + playlist.image"
      ></app-phone-card>
    </div>
  </div>

  <!-- New Tracks div -->

  <div>
    <div class="grid grid-cols-2 p-4 pb-2 w-auto">
      <div>
        <p class="font-medium text-white text-[20px] w-[220px]">New Tracks</p>
      </div>

      <div class="flex justify-end items-center">
        <p class="view-all-text">View all</p>
        <img src="assets/Icons-geo/arrow-right-2.svg" alt="" />
      </div>
    </div>

    <div class="hide-scrollbar">
      <app-new-tracks
        song="The Drummer"
        genre="Alternative"
        artist="Red Hot Chili Peppers"
        [imgUrl]="'assets/images/albums/celestial.png'"
      ></app-new-tracks>
      <app-new-tracks
        song="Celestial"
        genre="Pop"
        artist="Ed Sheeran"
        [imgUrl]="'assets/images/albums/the_drummer.jpg'"
      ></app-new-tracks>
      <app-new-tracks
        song="I'm Good (Blue)"
        genre="EDM"
        artist="Bebe Rexha, David Guetta"
        [imgUrl]="'assets/images/albums/im_good.jpg'"
      ></app-new-tracks>
    </div>
  </div>

  <!-- Recently Listened (may want to change) -->

  <div>
    <div class="grid grid-cols-2 p-4 pb-3 w-auto">
      <div>
        <p class="font-medium text-white text-[20px] w-[220px]">
          Recently Listened
        </p>
      </div>

      <div class="flex justify-end items-center">
        <p class="view-all-text">View all</p>
        <img src="assets/Icons-geo/arrow-right-2.svg" alt="" />
      </div>
    </div>

    <div class="w-full pl-2 pr-5 pb-[76px] overflow-x-auto flex hide-scrollbar">
      <app-phone-card
        *ngFor="let playlist of savedPlaylists"
        [playlistName]="playlist.name"
        [tracks]="playlist.noTracks"
        [imgUrl]="'assets/images/playlists/' + playlist.image"
      ></app-phone-card>
    </div>
  </div>
</div>
