<div class="hide-scrollbar h-screen w-screen bg-blue-dark">
  <div class="h-screen w-full px-4">
    <div class="flex-cols-3 flex w-full items-center justify-between pt-8 pb-6">
      <div (click)="back()"><img src="assets/Icons-geo/arrow-left-2.svg" alt="" /></div>
      <div class="text-[16px] font-normal text-white">{{ song.album }}</div>
      <div><img src="assets/Icons-geo/more.svg" alt="" /></div>
    </div>

    <!-- Image -->
    <div *ngIf="!showLyrics" class="pt-4">
      <img
        *ngIf="song.image"
        class="object-fit aspect-square w-full rounded-[40px]"
        src="assets/images/songs/{{ song.image }}"
        alt=""
      />
    </div>

    <!-- Music info-->
    <div class="flex w-full justify-center pt-4">
      <div class="pb-2 text-[24px] font-semibold text-white">{{ song.title }}</div>
    </div>
    <div class="flex w-full justify-center">
      <div class="font-regular text-[16px] text-white">{{ song.artist }}</div>
    </div>

    <!-- MusicTime-->
    <div class="flex w-full items-center justify-between py-6 text-xs font-medium text-white">
      <div class="w-10">{{ songTimeStart }}</div>
      <progress
        class="h-[5px] w-full self-center"
        [value]="songCurrentTime"
        [max]="song.duration ? song.duration * 60 : 0"
      ></progress>
      <div class="w-10 text-right">{{ songTimeEnd }}</div>
    </div>

    <!-- Buttons -->
    <div class="flex-cols-5 flex h-[10vh] w-full items-center justify-between pb-4">
      <div>
        <img src="assets/Icons/RepeatNo.svg" alt="" />
      </div>
      <div>
        <img src="assets/Icons/Previous.svg" alt="" />
      </div>
      <div (click)="playSong()">
        <img *ngIf="isPlaying; else pause" class="h-[55px] w-[55px]" src="assets/Icons/Pause.svg" alt="" />
        <ng-template #pause>
          <img src="assets/Icons/Table/Play.svg" width="55px" height="55px" />
        </ng-template>
      </div>
      <div><img src="assets/Icons/Next.svg" alt="" /></div>
      <div class="relative" (click)="toggleWall()">
        <div
          *ngIf="wallIsOpen"
          class="absolute top-2 right-[2px] h-[1.5px] w-3 -rotate-45 rounded-full bg-blue-light"
        ></div>
        <img src="assets/Icons/MirroringScreen.svg" alt="" />
      </div>
    </div>

    <!-- Lyrics -->
    <div
      *ngIf="!showLyrics; else lyricsOpen"
      class="hide-scrollbar fixed bottom-0 left-4 right-4 flex h-[5vh] justify-center rounded-t-[40px] bg-blue"
      (pointerenter)="toggleLyrics()"
    >
      <div class="absolute top-4 left-6">
        <p class="text-[16px] font-medium text-white">Lyrics</p>
      </div>
      <div>
        <hr class="mt-2 w-[100px] rounded-full border-[1px] border-white/50" />
      </div>
    </div>

    <ng-template #lyricsOpen>
      <div class="h-[50vh] overflow-hidden rounded-[40px] bg-blue px-6 py-4 text-white">
        <div class="flex w-full items-center justify-between pb-4">
          <p class="font-medium">Lyrics</p>
          <img (click)="toggleLyrics()" style="width: 32px" src="assets/Icons/Table/CloseCircle.svg" alt="" />
        </div>

        <div *ngIf="song.title !== 'Blinding Lights'">Lyrics are not supported for this song</div>

        <div *ngIf="song.title === 'Blinding Lights'" class="h-full w-full overflow-scroll">
          <div *ngFor="let lyric of lyrics" class="w-full">
            <div
              [ngStyle]="{ opacity: lyric.isActive ? '1' : '0.4' }"
              class="py-1 text-lg font-semibold leading-relaxed"
            >
              {{ lyric.text }}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
