<app-ph-navbar [page]="navState"></app-ph-navbar>
<!-- //// -->
<div class="h-screen w-screen hide-scrollbar bg-blue-dark">
  <div class="w-full px-4">
    <div class="flex w-full items-center justify-between pt-8 pb-6 flex-cols-3">
      <div (click)="back()"><img src="assets/Icons-geo/arrow-left-2.svg" alt="" /></div>
      <div class="font-normal text-white text-[16px]">{{ album }}</div>
      <div><img src="assets/Icons-geo/more.svg" alt="" /></div>
    </div>

    <!-- Image -->
    <div *ngIf="showImage" class="pt-4">
      <img
        class="object-fit shadow-2xl w-full aspect-square rounded-[40px]"
        src="assets/images/albums/blinding_lights.jpg"
        alt=""
      />
    </div>

    <!-- Music info-->
    <div class="flex w-full justify-center pt-4">
      <div class="font-semibold text-white text-[24px] pb-2">{{ song }}</div>
    </div>
    <div class="flex w-full justify-center">
      <div class="font-regular text-white text-[16px]">{{ artist }}</div>
    </div>

    <!-- MusicTime-->
    <div class="w-full pt-[24px] pb-[24px] flex items-stretch gap-2">
      <div class="text-white text-[12px] font-medium self-center">{{ songTimeStart }}</div>
      
        <progress class="w-full h-[5px] rounded-full self-center" [value]="songCurrentTime" [max]="204"></progress>
      
      <div class="text-white text-[12px] font-medium self-center">{{ songTimeEnd }}</div>
    </div>

    <!-- Buttons -->
    <div class="w-full h-[10vh] pb-4 flex flex-cols-5 justify-between items-center">
      <div class="hover:opacity-100">
        <img src="../../../../assets/Icons/RepeatNo.svg" alt="" />
      </div>
      <div class="hover:opacity-100">
        <img src="assets/Icons/Previous.svg" alt="" />
      </div>
      <div class="hover:opacity-100" (click)="SongPlaying()">
        <img *ngIf="isPlaying; else pause" class="w-[55px] h-[55px]" src="assets/Icons/Pause.svg" alt="" />
      </div>
      <ng-template #pause>
        <img src="assets/Icons/Table/Play.svg" width="55px" height="55px" />
      </ng-template>
      <div class="hover:opacity-100"><img src="assets/Icons/Next.svg" alt="" /></div>
      <div class="hover:opacity-100" (click)="toggleWall()">
        <img src="assets/Icons/MirroringScreen.svg" alt="" />
      </div>
    </div>

    <!-- OpenSurroundWall -->
    <button (click)="toggleWall()" class="flex w-full select-none justify-center">
      <div class="flex items-center gap-2 text-blue-light/75">
        <img src="assets/Icons/MirroringScreen.svg" width="32px" />
        <div *ngIf="wallIsOpen; else openWall">Close surround wall</div>
        <ng-template #openWall>Open surround wall</ng-template>
      </div>
    </button>

    <!-- Lyrics -->
    <div
      *ngIf="lyricsSmall; else lyricsBig"
      class="hide-scrollbar h-[5vh] fixed bottom-0 left-4 right-4 bg-blue rounded-t-[40px] flex justify-center"
      (pointerenter)="lyricsOpen()"
    >
      <div class="absolute top-4 left-6">
        <p class="text-[16px] text-white font-medium">Lyrics</p>
      </div>
      <div>
        <hr class="w-[100px] border-[1px] mt-2 border-white/50 rounded-full" />
      </div>
      <div class="absolute top-14 left-6">
        <!-- call lyrics -->
        <app-lyrics></app-lyrics>
      </div>
    </div>

    <ng-template #lyricsBig>
      <div class="py-4">
        <div class="hide-scrollbar h-[50vh] shadow-lg bg-blue rounded-[40px] relative">
          <div class="absolute top-4 left-6 z-10">
            <p class="text-regular text-[16px] text-white font-medium">Lyrics</p>
          </div>
          <div class="absolute top-4 right-6 z-10" (click)="lyricsClose()">
            <img style="height: 32px" src="assets/Icons/Table/CloseCircle.svg" alt="" />
          </div>
          <div class="absolute top-14 right-6 left-6">
            <!-- call lyrics -->
            <app-lyrics></app-lyrics>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
