<div
  class="grid grid-cols-4 pb-3 pl-4 cursor-pointer hover:bg-slate-500/5 rounded-2xl duration-100"
>
  <div class="w-[40px] h-[40px] rounded-xl bg-blue-light"></div>
  <div class="col-span-1 ml-[-44px] w-[250px]">
    <div class="grid grid-rows-2 h-[40px]  justify-items-start gap-1">
      <div class="font-medium text-white text-[16px]">{{ song }}</div>
      <div class="font-regular text-white text-[12px]">{{ artist }}</div>
    </div>
  </div>
  <div class="w-[40px] absolute right-0 mt-1">
    <img src="assets/Icons-geo/arrow-right-2.svg" alt="" />
  </div>
</div>
