<div
  class="relative w-screen h-screen bg-blue-dark overflow-x-hidden hide-scrollbar"
>
  <!-- Background Image -->
  <div class="absolute top-0 right-0 h-[60%] min-w-1/2">
    <img class="w-full h-full object-cover" src="\assets\theCar.jpg" />
    <div
      class="absolute w-full h-full top-0 right-0 bg-gradient-to-r from-blue-dark to-transparent"
    ></div>
    <div
      class="absolute w-full h-1/2 bottom-0 right-0 bg-gradient-to-t from-blue-dark to-transparent"
    ></div>
  </div>

  <!-- Content -->
  <div class="relative w-full pl-[280px] py-[100px]">
    <div>
      <div class="font-bold text-xl text-blue-light">STUDIO ALBUM</div>
      <div class="my-2 font-bold text-5xl text-white">The Car</div>
      <div class="font-semibold text-[32px] text-blue-extra-light mb-3">
        Arctic Monkeys
      </div>
      <div class="w-[40%] text-xl text-white">
        The Car is the forthcoming seventh studio album by English rock band
        Arctic Monkeys. It was announced on 24 August 2022, and scheduled for
        release on 21 October 2022.
      </div>
      <button
        class="inline-block mt-8 py-2 px-8 bg-blue-extra-light rounded-xl text-blue-dark font-medium text-[32px] transition hover:bg-blue-extra-light/75 focus:outline-none focus:ring focus:ring-blue"
      >
        Listen
      </button>
    </div>
    <div>
      <div class="font-semibold text-[40px] text-white mt-10">
        Latest Releases
      </div>
      <app-card-wrapper>
        <app-tv-card
          *ngFor="let card of latestReleases"
          [album]="card.name"
          [artist]="card.artist"
          [imgUrl]="imgAlbumPath + card.image"
        ></app-tv-card>
      </app-card-wrapper>

      <div class="font-semibold text-[40px] text-white mt-10">
        Recently Listened
      </div>
      <app-card-wrapper>
        <app-tv-card
          *ngFor="let card of recentlyPlayed"
          [album]="card.name"
          [artist]="card.artist"
          [imgUrl]="imgAlbumPath + card.image"
        ></app-tv-card>
      </app-card-wrapper>
    </div>
  </div>
</div>
