<nav *ngIf="page !== 'hide'" class="relative h-full w-full top-0 left-0 z-50">
  <div class="fixed top-0 p-[100px] h-full flex flex-col justify-between">
    <button routerLink="/tv/home">
      <img src="assets/Logo.svg" />
    </button>
    <div class="flex flex-col gap-6">
      <button
        *ngIf="page === 'home'; else elseHome"
        routerLink="/tv/home"
        class="w-20 h-20 flex items-center justify-center p-4 bg-blue rounded-xl"
      >
        <img src="assets/Icons/HomeBulk.svg" width="48px" height="48px" />
      </button>
      <ng-template #elseHome>
        <button
          routerLink="/tv"
          class="w-20 h-20 flex items-center justify-center p-4 bg-blue rounded-xl"
        >
          <img src="assets/Icons/HomeTwotone.svg" width="48px" height="48px" />
        </button>
      </ng-template>

      <button
        *ngIf="page === 'search'; else elseSearch"
        routerLink="/tv/search"
        class="w-20 h-20 flex items-center justify-center p-4 bg-blue rounded-xl"
      >
        <img src="assets/Icons/SearchBulk.svg" width="48px" height="48px" />
      </button>
      <ng-template #elseSearch>
        <button
          routerLink="/tv/search"
          class="w-20 h-20 flex items-center justify-center p-4 bg-blue rounded-xl"
        >
          <img
            src="assets/Icons/SearchTwotone.svg"
            width="48px"
            height="48px"
          />
        </button>
      </ng-template>
      <button
        *ngIf="page === 'library'; else elseLibrary"
        routerLink="/tv/library"
        class="w-20 h-20 flex items-center justify-center p-4 bg-blue rounded-xl"
      >
        <img src="assets/Icons/LibraryBulk.svg" width="48px" height="48px" />
      </button>
      <ng-template #elseLibrary>
        <button
          routerLink="/tv/library"
          class="w-20 h-20 flex items-center justify-center p-4 bg-blue rounded-xl"
        >
          <img
            src="assets/Icons/LibraryTwotone.svg"
            width="48px"
            height="48px"
          />
        </button>
      </ng-template>
    </div>
    <div
      class="w-20 h-20 flex items-center justify-center p-4 bg-blue rounded-full cursor-pointer"
    ></div>
  </div>
</nav>
