<app-ph-navbar [page]="navState"></app-ph-navbar>
<!-- //// -->
<div class="w-screen h-full hide-scrollbar bg-blue-dark">
  <div class="grid grid-cols-2 p-4 pt-7">
    <p class="font-semibold text-white text-[24px]">Explore</p>
  </div>

  <!-- Search input-->

  <div class="relative block p-4">
    <span class="absolute inset-y-0 left-3 flex items-center pl-4">
      <img
        src="assets/Icons-geo/search-normal-1.svg"
        class="h-5 w-5 fill-slate-300"
        viewBox="0 0 20 20"
      />
    </span>
    <input
      #box
      (change)="getvalue(box.value)"
      type="text"
      placeholder="{{ searchText }}"
      class="w-full rounded-lg h-[40px] placeholder:text-blue-dark text-[14px] block border border-slate-300 pl-12 pr-3 shadow-sm focus:outline-none focus:border-sky"
    />
  </div>
  {{ displayValue }}
  
  <!-- Recent Searches -->

  <div id="TEMP">
    <div class="grid grid-cols-2 p-4 pb-3 w-auto">
      <div>
        <p class="font-medium text-white text-[20px] w-[220px]">
          Recent Searches
        </p>
      </div>

      <div class="flex justify-end items-center">
        <p class="view-all-text">View all</p>
        <img src="assets/Icons-geo/arrow-right-2.svg" alt="" />
      </div>
    </div>

    <div>
      <app-song-list
        *ngFor="let card of recentSearches"
        [album]="card.name"
        [artist]="card.artist"
        [imgUrl]="'assets/images/albums/' + card.image"
      >
      </app-song-list>
    </div>

    <!-- Genres -->

    <div class="p-4 pb-3 w-auto">
      <div>
        <p class="font-medium text-white text-[20px] w-[220px]">Genres</p>
      </div>
    </div>

    <div class="grid grid-rows-2 pb-[80px] pt-[0px]">
      <div class="flex items-stretch gap-2 p-4 pt-0">
        <div
          class="w-full h-full relative cursor-pointer hover:bg-slate-500/5 duration-100"
        >
          <img
            class="w-full h-full rounded-[8px] object-right"
            src="assets/images/genres/rock.jpg"
            alt=""
          />
          <div
            class="font-normal text-white text-[14px] z-10 absolute bottom-3 left-3"
          >
            <p>Rock</p>
          </div>
        </div>
        <div
          class="w-full h-full relative cursor-pointer hover:bg-slate-500/5 duration-100"
        >
          <img
            class="w-full h-full rounded-[8px] object-cover"
            src="assets/images/genres/pop.jpg"
            alt=""
          />
          <div
            class="font-normal text-white text-[14px] z-10 absolute bottom-3 left-3"
          >
            <p>Pop</p>
          </div>
        </div>
        <div
          class="w-full h-full relative cursor-pointer hover:bg-slate-500/5 duration-100"
        >
          <img
            class="w-full h-full rounded-[8px] object-cover"
            src="assets/images/genres/hip-hop.jpg"
            alt=""
          />
          <div
            class="font-normal text-white text-[14px] z-10 absolute bottom-3 left-3"
          >
            <p>Hip-Hop</p>
          </div>
        </div>
      </div>
      <div class="flex items-stretch gap-2 gap-2 pr-4 pl-4">
        <div
          class="w-full h-full relative cursor-pointer hover:bg-slate-500/5 duration-100"
        >
          <img
            class="w-full h-full rounded-[8px] object-right"
            src="assets/images/genres/classic.jpg"
            alt=""
          />
          <div
            class="font-normal text-white text-[14px] z-10 absolute bottom-3 left-3"
          >
            <p>Classic</p>
          </div>
        </div>
        <div
          class="w-full h-full relative cursor-pointer hover:bg-slate-500/5 duration-100"
        >
          <img
            class="w-full h-full rounded-[8px] object-cover"
            src="assets/images/genres/edm.jpg"
            alt=""
          />
          <div
            class="font-normal text-white text-[14px] z-10 absolute bottom-3 left-3"
          >
            <p>EDM</p>
          </div>
        </div>
        <div
          class="w-full h-full relative cursor-pointer hover:bg-slate-500/5 duration-100"
        >
          <img
            class="w-full h-full rounded-[8px] object-fit"
            src="assets/images/genres/jazz.jpg"
            alt=""
          />
          <div
            class="font-normal text-white text-[14px] z-10 absolute bottom-3 left-3"
          >
            <p>Jazz</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Search button -->

    <button
      class="w-[60px] h-[60px] rounded-full bg-[#E7F6F2] fixed bottom-[85px] right-2 flex align-center justify-center transition hover:bg-blue focus:outline-none focus:ring focus:ring-blue-light"
    >
      <img
        class="w-[100%] h-[100%] p-3 cursor-pointer hover:bg-slate-500/5 duration-100"
        src="assets/Icons-geo/microphone-2.svg"
      />
    </button>
  </div>
</div>
