<app-ph-navbar [page]="navState"></app-ph-navbar>
<app-song-active></app-song-active>
<div class="h-full min-h-screen w-screen bg-blue-dark">
  <div class="grid grid-cols-2 p-4 pt-7">
    <p class="text-[24px] font-semibold text-white">Explore</p>
  </div>

  <!-- Search input-->
  <div class="relative block p-4">
    <span class="absolute inset-y-0 left-3 flex items-center pl-4">
      <img src="assets/Icons-geo/search-normal-1.svg" class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20" />
    </span>
    <input
      (input)="onInputSearch($event)"
      type="text"
      placeholder="Albums, songs or playlists"
      class="focus:border-sky block h-[40px] w-full rounded-lg border border-slate-300 pl-10 pr-3 text-[14px] shadow-sm placeholder:text-blue-dark focus:outline-none"
    />
  </div>

  <div *ngIf="!searchResult; else showResults">
    <!-- Recent Searches -->
    <div class="grid w-auto grid-cols-2 p-4 pb-3">
      <div>
        <p class="w-[220px] text-[20px] font-medium text-white">Recent Searches</p>
      </div>

      <div class="flex items-center justify-end">
        <p class="view-all-text">View all</p>
        <img class="w-[20px]" src="assets/Icons-geo/arrow-right-2.svg" alt="" />
      </div>
    </div>

    <app-song-list
      *ngFor="let card of recentSearches"
      [album]="card.name"
      [artist]="card.artist"
      [imgUrl]="'assets/images/albums/' + card.image"
    >
    </app-song-list>

    <!-- Genres -->
    <div class="w-full p-4 text-xl font-medium text-white">Genres</div>
    <div class="grid grid-cols-3 gap-3 px-4 pb-[80px]">
      <div class="relative h-full w-full" *ngFor="let genre of musicGenres">
        <img class="h-full w-full rounded-[8px] object-right" src="assets/images/genres/{{ genre.image }}" alt="" />
        <div class="absolute bottom-2 left-[10px] z-10 text-sm font-medium text-white">{{ genre.name }}</div>
      </div>
    </div>

    <!-- Search button -->
    <button
      (click)="searchVoice()"
      [ngClass]="songPlaying._id ? 'bottom-36' : 'bottom-24'"
      class="fixed right-3 h-16 rounded-full bg-[#E7F6F2] shadow-[0px_22px_70px_4px_rgba(0,0,0,0.56)] focus:outline-none focus:ring focus:ring-blue-light"
    >
      <img class="h-full w-full p-3" src="assets/Icons-geo/microphone-2.svg" />
    </button>

    <!-- if song is playing add padding to bottom -->
    <div *ngIf="songPlaying._id" class="h-[60px]"></div>
  </div>
  <ng-template #showResults class="pb-[80px]">
    <div *ngIf="searchResults.albums.length" class="p-4 pb-2 text-xs font-semibold text-blue-extra-light">ALBUMS</div>
    <app-song-list
      *ngFor="let album of searchResults.albums"
      [album]="album.name"
      [artist]="album.artist"
      [imgUrl]="'assets/images/albums/' + album.image"
    >
    </app-song-list>
    <div *ngIf="searchResults.songs.length" class="p-4 pb-2 text-xs font-semibold text-blue-extra-light">SONGS</div>
    <app-song-list
      *ngFor="let song of searchResults.songs"
      routerLink="/phone/play/{{ song._id }}"
      [album]="song.title"
      [artist]="song.artist"
      [imgUrl]="'assets/images/songs/' + song.image"
    >
    </app-song-list>
  </ng-template>
</div>
