<div class="w-screen h-full hide-scrollbar bg-blue-dark">
  <div class="grid grid-cols-2 p-4 pt-7">
    <div><p class="font-semibold text-white text-[24px]">Library</p></div>
    <div class="flex justify-end"></div>
  </div>

  <!-- My Playlists -->

  <div>
    <div class="p-4 pb-3 w-auto">
      <div><p class="font-medium text-white text-[20px]">My Playlists</p></div>
    </div>

    <div class="w-full pr-5 overflow-x-auto flex hide-scrollbar">
      <app-phone-card album="Rockies" artist="7 Tracks"></app-phone-card>
      <app-phone-card album="Rockies" artist="7 Tracks"></app-phone-card>
      <app-phone-card album="Rockies" artist="7 Tracks"></app-phone-card>
      <app-phone-card album="Rockies" artist="7 Tracks"></app-phone-card>
      <app-phone-card album="Rockies" artist="7 Tracks"></app-phone-card>
    </div>
  </div>

  <!-- Add new playlist -->

  <div class="p-6 pl-4 pb-2">
    <button
      class="w-[140px] rounded-lg h-[32px] bg-[#395B64]  block shadow-sm focus:outline-none focus:border-sky"
    >
      <p class="font-regular text-white text-[16px]">+ New Playlist</p>
    </button>
  </div>

  <!-- Recently Listened div -->

  <div>
    <div class="grid grid-cols-2 p-4 pb-3 w-auto">
      <div>
        <p class="font-medium text-white text-[20px] w-[220px]">
          Trending Playlists
        </p>
      </div>
    </div>

    <div class="w-full pr-5 pb-[76px] overflow-x-auto flex hide-scrollbar">
      <app-phone-card album="Party Life" artist="24 Tracks"></app-phone-card>
      <app-phone-card album="Party Life" artist="24 Tracks"></app-phone-card>
      <app-phone-card album="Party Life" artist="24 Tracks"></app-phone-card>
      <app-phone-card album="Party Life" artist="24 Tracks"></app-phone-card>
      <app-phone-card album="Party Life" artist="24 Tracks"></app-phone-card>
    </div>
  </div>
</div>
