<button *ngIf="songPlaying._id" class="fixed bottom-[60px] z-20 h-[60px] w-full rounded-t-2xl bg-[#395b64]">
  <div class="-mt-[2px] flex items-center pl-4 pr-4">
    <img src="assets/images/songs/{{ songPlaying.image }}" class="object-fit h-[48px] w-[48px] rounded-[10px]" />

    <div
      class="grid h-[40px] w-full grid-rows-2 justify-items-start gap-1 pl-2"
      routerLink="/phone/play/{{ songPlaying._id }}"
    >
      <div class="text-[16px] font-normal text-white">{{ songPlaying.title }}</div>
      <div class="text-[12px] font-light text-white">{{ songPlaying.artist }}</div>
    </div>
  </div>
  <!-- //TODO this has to be according to the song playtime -->
  <progress class="absolute bottom-0 left-0 h-[2px] w-full bg-white" [value]="songCurrentTime" [max]="204"></progress>
</button>
