<div *ngIf="album.name" class="hide-scrollbar relative h-screen w-screen overflow-x-hidden bg-blue-dark">
  <div class="flex w-full">
    <div class="w-1/2">
      <div class="flex h-full w-full flex-col gap-6 p-[100px]">
        <div>
          <button
            (click)="back()"
            class="flex select-none items-center gap-2 text-3xl text-blue-light hover:opacity-75"
          >
            <img src="assets/Icons/ArrowLeft.svg" width="48px" height="48px" />
            <div>Back</div>
          </button>
        </div>
        <div class="flex w-full items-center justify-between">
          <div class="flex select-none items-center gap-6 text-white">
            <h1 class="text-5xl font-semibold">{{ album.name }}</h1>
            <div class="pt-1 text-2xl">{{ album.yearProduced }}</div>
          </div>
          <div class="flex select-none gap-8">
            <button
              (click)="shuffle()"
              class="flex items-center justify-center gap-2 rounded-2xl bg-blue-light py-[6px] px-5 text-2xl font-semibold text-blue-dark hover:opacity-75"
            >
              <img src="assets/Icons/Shuffle.svg" width="40px" height="40px" />
              Shuffle
            </button>
            <button class="hover:opacity-75" (click)="toggleFavorite()">
              <img *ngIf="album.isFavorite; else notFavorite" src="assets/Icons/Heart.svg" width="48px" height="48px" />
              <ng-template #notFavorite>
                <img src="assets/Icons/HeartOutline.svg" width="48px" height="48px" />
              </ng-template>
            </button>
          </div>
        </div>
        <div class="flex cursor-pointer select-none items-center gap-6">
          <img
            draggable="false"
            src="assets/images/artists/{{ album.artistImage }}"
            class="h-[64px] w-[64px] rounded-full object-cover"
          />
          <div class="text-[40px] font-medium text-white">
            {{ album.artist }}
          </div>
        </div>
        <div class="flex select-none items-center gap-6">
          <div
            class="flex items-center justify-center rounded-full bg-blue px-4 py-2 text-xl font-medium text-blue-extra-light"
          >
            {{ album.noTracks }} Tracks
          </div>
          <div
            class="flex items-center justify-center rounded-full bg-blue px-4 py-2 text-xl font-medium text-blue-extra-light"
          >
            {{ album.duration }} Minutes
          </div>
        </div>
        <p class="select-none py-4 text-xl text-white">
          {{ album.info }}
        </p>
        <div class="flex w-full flex-col gap-3 text-2xl font-medium text-white">
          <div
            *ngFor="let song of songs; let i = index"
            class="flex w-full cursor-pointer select-none items-center justify-between rounded-xl py-3 duration-100 ease-out hover:bg-blue/25"
            (click)="selectSong(song)"
          >
            <div class="flex items-center gap-4">
              <div class="h-full w-10 text-center">{{ i + 1 }}</div>
              <div class="flex flex-col gap-1">
                <div>{{ song.title }}</div>
                <div class="text-xl">{{ album.artist }}</div>
              </div>
            </div>
            <div class="pr-3">
              {{ getTimeOfSong(song.duration) }}
            </div>
          </div>
        </div>
      </div>
      <div class="fixed top-0 right-0 h-full w-1/2">
        <div class="mx-auto flex h-full w-[600px] flex-col items-center justify-center gap-12">
          <img
            draggable="false"
            class="h-[600px] w-full select-none rounded-3xl"
            src="assets/images/albums/{{ album.image }}"
          />
          <h1 class="h-14 w-[580px] select-none truncate text-center align-middle text-5xl font-semibold text-white">
            {{ selectedSong.title }}
          </h1>
          <div class="flex w-full select-none items-center justify-between">
            <img
              class="cursor-pointer hover:opacity-70"
              *ngIf="repeat; else noRepeat"
              (click)="toggleRepeat()"
              src="assets/Icons/RepeatYes.svg"
              width="48px"
              height="48px"
            />
            <ng-template #noRepeat>
              <img
                class="cursor-pointer hover:opacity-70"
                (click)="toggleRepeat()"
                src="assets/Icons/RepeatNo.svg"
                width="48px"
                height="48px"
              />
            </ng-template>

            <img
              (click)="navigateSong('prev')"
              class="cursor-pointer hover:opacity-70"
              src="assets/Icons/Previous.svg"
              width="48px"
              height="48px"
            />
            <img
              class="cursor-pointer hover:opacity-70"
              *ngIf="selectedSong._id === songPlaying._id && isPlaying; else pause"
              (click)="playSong()"
              src="assets/Icons/Pause.svg"
              width="80px"
              height="80px"
            />
            <ng-template #pause>
              <img
                class="cursor-pointer hover:opacity-70"
                (click)="playSong()"
                src="assets/Icons/Table/Play.svg"
                width="80px"
                height="80px"
              />
            </ng-template>
            <img
              (click)="navigateSong('next')"
              class="cursor-pointer hover:opacity-70"
              src="assets/Icons/Next.svg"
              width="48px"
              height="48px"
            />
            <img
              (click)="addToQueue()"
              class="cursor-pointer hover:opacity-75"
              src="assets/Icons/MusicSquareAdd.svg"
              width="48px"
              height="48px"
            />
          </div>

          <button
            (click)="toggleWall()"
            class="flex select-none items-center gap-3 text-2xl text-blue-light/75 hover:opacity-75"
          >
            <div class="relative">
              <div
                *ngIf="wallIsOpen"
                class="absolute top-4 right-[1px] h-[3px] w-7 -rotate-45 rounded-full bg-blue-light"
              ></div>
              <img src="assets/Icons/MirroringScreen.svg" width="48px" height="48px" />
            </div>
            <div *ngIf="wallIsOpen; else openWall">Close surround wall</div>
            <ng-template #openWall>Open surround wall</ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
