<div
  class="relative w-screen h-screen bg-blue-dark overflow-x-hidden hide-scrollbar"
>
  <!-- Search button -->
  <button
    class="fixed z-10 top-14 left-1/2 -translate-x-1/2 flex justify-center items-center gap-4 py-3 px-8 rounded-full bg-blue/60 transition hover:bg-blue focus:outline-none focus:ring focus:ring-blue-light"
  >
    <img src="assets/Icons/Microphone.svg" width="48px" height="48px" />
    <div class="font-medium text-2xl text-white">Search</div>
  </button>

  <div class="relative w-full pl-[280px] py-[100px]">
    <div class="font-semibold text-[40px] text-white">Genres</div>
    <app-card-wrapper>
      <app-tv-genre-card genre="Pop"></app-tv-genre-card>
      <app-tv-genre-card genre="Pop"></app-tv-genre-card>
      <app-tv-genre-card genre="Pop"></app-tv-genre-card>
      <app-tv-genre-card genre="Pop"></app-tv-genre-card>
      <app-tv-genre-card genre="Pop"></app-tv-genre-card>
      <app-tv-genre-card genre="Pop"></app-tv-genre-card>
      <app-tv-genre-card genre="Pop"></app-tv-genre-card>
    </app-card-wrapper>
    <div>
      <div class="font-semibold text-[40px] text-white mt-10">
        Recent Searches
      </div>
      <app-card-wrapper>
        <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
        <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
        <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
        <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
        <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
      </app-card-wrapper>

      <div>
        <div class="font-semibold text-[40px] text-white mt-10">
          Based On What You Like
        </div>
        <app-card-wrapper>
          <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
          <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
          <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
          <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
          <app-tv-card album="The Car" artist="Arctic Monkeys"></app-tv-card>
        </app-card-wrapper>
      </div>
    </div>
  </div>
</div>
