<div
  class="flex pb-2 pt-1 pl-4 justify-items-start rounded-2xl "
>
    <div class="w-[80px] h-[80px]">
    <img class="rounded-[8px] w-full h-full " src="{{ imgUrl }}" alt="" />
  </div>
    <div class="col-span-3 flex items-center pl-2">
        <div class="grid grid-rows-3 h-[70px] justify-items-start ">
            <div class="font-normal text-white text-[16px] ">{{song}}</div>
            <div class="font-light text-white text-[12px]">{{artist}}</div>
            <div class="font-light text-white text-[12px] bg-[#395B64] rounded-md p-2 flex items-center">{{genre}}</div>
        </div>
        
    </div>
   
</div>

